<h1>Edit task</h1>

<form class="form-group" *ngIf="task" (ngSubmit)="updateTask()" #form="ngForm">

    <mat-form-field appearance="outline">
        <mat-label>Task name</mat-label>
        <input matInput type="text" id="name" [(ngModel)]="task.name" name="name" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput id="description" [(ngModel)]="task.description" name="description" required>
        </textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!(isDataLoaded() && form.form.valid)">
        Update
    </button>

</form>